
// COLORS 
$grey: #838282;
$proficiency: #6dc8de;
$darkgrey: #616060;
$section2bg: rgb(15, 15, 15);
$section2Title: rgb(205, 205, 205);
$sec2Border: #2d2d2d;
$section3bg: #404e4d;

// VIEW PORTS
$mobile: 425px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1024px;


// FONTS
$globalFont: 'Comfortaa', sans-serif;