
// COLORS 
$grey: #838282;
$blue: #edf4b6;
$darkgrey: #616060;
$section2bg: rgb(15, 15, 15);
$h2blue: #ecbfbf;


// VIEW PORTS
$mobile: 425px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1024px;


// FONTS
$globalFont: 'Comfortaa', sans-serif;