@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app-container {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

div.navbar-container {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: all 0.4s ease;
}
div.navbar-container > nav.navbar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease;
}
div.navbar-container > nav.navbar.scrolled {
  background-color: rgba(15, 15, 15, 0.9);
}
div.navbar-container > nav.navbar.scrolled ul a li {
  color: #cdcdcd;
}
div.navbar-container > nav.navbar > ul.navbar-list {
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
}
div.navbar-container > nav.navbar > ul.navbar-list a {
  color: #838282;
  text-decoration: none;
}
@media (min-width: 1024px) {
  div.navbar-container > nav.navbar > ul.navbar-list a {
    font-size: 1.35rem;
  }
}
@media (max-width: 1023px) {
  div.navbar-container > nav.navbar {
    display: none;
  }
}
div.navbar-container > nav.navbar-small {
  margin: 20px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
div.navbar-container > nav.navbar-small button.menu-button {
  z-index: 333;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  color: #838282;
}
div.navbar-container > nav.navbar-small button.menu-button.red {
  color: black;
}
div.navbar-container > nav.navbar-small button.menu-button .menu-button-icon {
  width: 30px;
  height: 30px;
}
@media (min-width: 1024px) {
  div.navbar-container > nav.navbar-small {
    display: none;
  }
}
@media (max-width: 1023px) {
  div.navbar-container > nav.navbar-small {
    justify-content: flex-end;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 150%;
  background-color: rgba(182, 182, 182, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: left 0.75s ease;
}
.menu-container .menu {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  row-gap: 40px;
  width: 100%;
  height: 100%;
  list-style: none;
}
.menu-container .menu a {
  text-decoration: none;
  color: black;
}
.menu-container .menu li {
  padding: 1rem;
  padding-left: 25px;
  font-size: 1.5rem;
}
.menu-container.show {
  left: 60%;
}

section {
  border-top: 1px solid black;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section1 {
  position: relative;
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
  background-attachment: scroll;
  height: 100vh;
}
@media (min-width: 1024px) {
  .section1 {
    background-position: 40%;
  }
}
@media (max-width: 1023px) {
  .section1 {
    background-position: 45%;
  }
}
@media (max-width: 768px) {
  .section1 {
    background-position: 50%;
  }
}
@media (max-width: 425px) {
  .section1 {
    background-position: 55%;
  }
}
.section1 > div.h1-text-container {
  text-align: center;
  backdrop-filter: blur(3px);
  position: absolute;
  border-radius: 3px;
  top: 43%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.077);
  left: 50%;
  border-radius: 4px;
  min-width: 340px;
  transform: translate(-50%, -50%);
  transition: 1s opacity ease;
  padding: 2rem;
  box-shadow: 3px 3px 40px 3px #3d3d3d;
}
.section1 > div.h1-text-container h1 {
  white-space: wrap;
  word-break: break-word;
  padding: 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #172b45;
}
.section1 > div.h1-text-container h1.h1-text-intro {
  letter-spacing: 0;
}
@media (min-width: 1024px) {
  .section1 > div.h1-text-container h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1023px) {
  .section1 > div.h1-text-container h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .section1 > div.h1-text-container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .section1 > div.h1-text-container {
    top: 35%;
  }
  .section1 > div.h1-text-container h1 {
    font-size: 1.8rem;
  }
}
.section1 div.code-container,
.section1 div.hosting-container {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.6);
  color: #e9e9e9;
  bottom: 0px;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 2rem;
}
.section1 div.code-container a,
.section1 div.hosting-container a {
  color: #cdcdcd;
  text-decoration: none;
}
.section1 div.code-container .code-text,
.section1 div.code-container .hosting-text,
.section1 div.hosting-container .code-text,
.section1 div.hosting-container .hosting-text {
  height: 0;
  pointer-events: none;
  cursor: none;
  display: hidden;
  opacity: 0;
  flex-direction: column;
  transition: all 0.2s ease;
}
.section1 div.code-container .code-text.show,
.section1 div.code-container .hosting-text.show,
.section1 div.hosting-container .code-text.show,
.section1 div.hosting-container .hosting-text.show {
  cursor: pointer;
  pointer-events: all;
  padding-top: 0.5rem;
  display: flex;
  opacity: 1;
  height: 60px;
}
.section1 div.code-container .code-text p,
.section1 div.code-container .hosting-text p,
.section1 div.hosting-container .code-text p,
.section1 div.hosting-container .hosting-text p {
  padding: 3px 0;
}
.section1 div.code-container {
  right: 200px;
  padding-right: 2rem;
}
.section1 div.hosting-container {
  right: 0px;
}

.section2 {
  position: relative;
  background-color: #0f0f0f;
  color: #cccccc;
  height: min-content;
  padding: 2rem 0;
}
@media (max-width: 425px) {
  .section2 {
    padding: 4rem 0;
  }
}
.section2 .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: 1;
}
.section2 .section2-head {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  column-gap: 4rem;
  row-gap: 2rem;
  z-index: 2;
  transition: all 0.25s ease-out;
}
.section2 .section2-head h2 {
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  border-top: 3px solid #2d2d2d;
  border-bottom: 4px solid #2d2d2d;
  box-shadow: 3px 3px 12px #9a9a9a;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  color: #cdcdcd;
}
@media (max-width: 768px) {
  .section2 .section2-head h2 {
    letter-spacing: 5px;
  }
}
.section2 .section2-head div.head-proficiencies,
.section2 .section2-head div.head-like,
.section2 .section2-head div.head-facts {
  width: 420px;
  min-width: 340px;
  flex: 1 1;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-out;
  opacity: 1;
  word-break: break-word;
}
.section2 .section2-head div.head-proficiencies .paragraph-container p,
.section2 .section2-head div.head-like .paragraph-container p,
.section2 .section2-head div.head-facts .paragraph-container p {
  position: relative;
  padding: 0.5rem 0 0.5rem 0;
  opacity: 0;
  bottom: -25px;
  transition: all 0.4s ease;
}
.section2 .section2-head div.head-proficiencies .paragraph-container p.show,
.section2 .section2-head div.head-like .paragraph-container p.show,
.section2 .section2-head div.head-facts .paragraph-container p.show {
  left: 0px;
  opacity: 1;
  bottom: 0px;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul,
.section2 .section2-head div.head-like .paragraph-container ul,
.section2 .section2-head div.head-facts .paragraph-container ul {
  list-style: square;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0 0 1rem;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul li.list-item,
.section2 .section2-head div.head-like .paragraph-container ul li.list-item,
.section2 .section2-head div.head-facts .paragraph-container ul li.list-item {
  color: #c9c6fe;
  padding: 1rem 2rem 0 0;
  position: relative;
  opacity: 0;
  bottom: -25px;
  transition: all 0.4s ease;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul li.list-item.show,
.section2 .section2-head div.head-like .paragraph-container ul li.list-item.show,
.section2 .section2-head div.head-facts .paragraph-container ul li.list-item.show {
  opacity: 1;
  bottom: 0px;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul.facts-list,
.section2 .section2-head div.head-like .paragraph-container ul.facts-list,
.section2 .section2-head div.head-facts .paragraph-container ul.facts-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul.facts-list li.list-item,
.section2 .section2-head div.head-like .paragraph-container ul.facts-list li.list-item,
.section2 .section2-head div.head-facts .paragraph-container ul.facts-list li.list-item {
  color: #cccccc;
  padding: 0.5rem 0 0.5rem 0;
  position: relative;
  bottom: -25px;
}
.section2 .section2-head div.head-proficiencies .paragraph-container ul.facts-list li.list-item.show,
.section2 .section2-head div.head-like .paragraph-container ul.facts-list li.list-item.show,
.section2 .section2-head div.head-facts .paragraph-container ul.facts-list li.list-item.show {
  opacity: 1;
  bottom: 0px;
}

.section3 {
  height: min-content;
  padding: 2rem 0;
  background-color: #404e4d;
  color: white;
}
.section3 .section3-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  opacity: 0;
  bottom: -25px;
  transition: all 0.44s ease-out;
  transition-delay: 0.25s;
}
.section3 .section3-title.show {
  opacity: 1;
  bottom: 0px;
}
.section3 .wrapper {
  display: grid;
  grid-template-columns: 5fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "email socials coffee";
  gap: 1rem;
  width: 94%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .section3 .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "email socials" "coffee coffee";
  }
}
@media (max-width: 768px) {
  .section3 .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 0;
    grid-template-areas: "email email" "socials socials" "coffee coffee";
  }
}
.section3 .wrapper .email-container {
  margin: 0 auto;
  width: 95%;
  grid-area: email;
}
.section3 .wrapper .email-container .form {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.section3 .wrapper .email-container .form * {
  padding: 0.5rem 0;
}
.section3 .wrapper .email-container .form input {
  padding: 0.5rem 0.5rem;
}
.section3 .wrapper .email-container .form textarea {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
}
.section3 .wrapper .email-container .form input.input-submit {
  position: relative;
  top: 2px;
  margin-top: 1rem;
  width: 150px;
  height: 100%;
  color: black;
  text-transform: uppercase;
  margin-left: auto;
  background-color: antiquewhite;
  transition: 0.3s ease-out;
  border-radius: 4px;
  letter-spacing: 4px;
  border-color: transparent;
  font-weight: 500;
}
.section3 .wrapper .email-container .form input.input-submit:hover {
  top: 0;
  border-color: #f9f9f9;
}
.section3 .wrapper .socials {
  grid-area: socials;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section3 .wrapper .socials .social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .section3 .wrapper .socials .social-container {
    font-size: 0.9rem;
  }
}
.section3 .wrapper .socials .social-container .social {
  position: relative;
  padding: 0.5rem 1rem 1rem 0;
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  opacity: 0;
  bottom: -25px;
  transition: 0.3s ease-out;
}
.section3 .wrapper .socials .social-container .social.show {
  opacity: 1;
  bottom: 0px;
}
.section3 .wrapper .socials .social-container .social .social-icon {
  transform: scale(2);
  margin: 0 1rem;
}
.section3 .wrapper .socials .social-container .social .social-icon.social-icon-github {
  color: #1b1b1b;
}
.section3 .wrapper .socials .social-container .social .social-icon.social-icon-twitter {
  color: #0f81f3;
}
.section3 .wrapper .socials .social-container .social .social-icon.social-icon-linkedin {
  color: #0004ff;
}
.section3 .wrapper .socials .social-container .social .social-icon.social-icon-instagram {
  color: #c9c6fe;
}
.section3 .wrapper .socials .social-container .social::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-bottom: 3px solid white;
  border-right: 2px solid #cbcbcb;
  border-radius: 6px;
  box-shadow: 6px 3px 10px #9a9a9a;
}
.section3 .wrapper .socials .social-container .social:hover {
  bottom: 6px;
}
.section3 .wrapper .socials .social-container .social:hover::after {
  opacity: 1;
}
.section3 .wrapper .socials .img-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  min-width: 170px;
  max-width: 235px;
}
.section3 .wrapper .socials .img-container img {
  border: 2px solid white;
  border-radius: 50%;
  width: 100%;
}
.section3 .wrapper .coffee-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: coffee;
}
@media (max-width: 425px) {
  .section3 .wrapper .coffee-container {
    position: relative;
    top: -10px;
  }
}
.section3 .wrapper .coffee-container .coffee {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  flex: 1;
}
@media (max-width: 1023px) {
  .section3 .wrapper .coffee-container .coffee {
    justify-content: flex-start;
  }
}
.section3 .wrapper .coffee-container .coffee h3 {
  position: relative;
  background-image: linear-gradient(90deg, #ecc7aa, #9c6940);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.6rem;
  cursor: pointer;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  bottom: 0px;
  white-space: nowrap;
  text-align: center;
  transition: 0.3s ease-out;
}
.section3 .wrapper .coffee-container .coffee h3::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  opacity: 0;
  height: 100%;
  border-bottom: 3px solid white;
  border-right: 2px solid white;
  box-shadow: 6px 3px 10px #9a9a9a;
  border-radius: 5px;
  transition: 0.3s ease-out;
}
.section3 .wrapper .coffee-container .coffee h3:hover {
  bottom: 6px;
}
.section3 .wrapper .coffee-container .coffee h3:hover::after {
  opacity: 1;
}
.section3 .wrapper .coffee-container .coffee .coffee-logo {
  margin-bottom: 0.5rem;
  max-width: 110px;
  height: auto;
}
.section3 .wrapper .coffee-container .coffee-text {
  display: none;
}
@media (max-width: 1023px) {
  .section3 .wrapper .coffee-container .coffee-text {
    margin-left: 1rem;
    padding-right: 5px;
    display: flex;
  }
}
@media (max-width: 425px) {
  .section3 .wrapper .coffee-container .coffee-text p {
    font-size: 0.85rem;
  }
}

.section4 {
  height: fit-content;
  padding: 2rem 0;
  max-height: fit-content;
  border-top: none;
  min-height: 500px;
  color: white;
  background-color: #1a1a1a;
}
.section4 .section4-container {
  position: relative;
  display: grid;
  row-gap: 1rem;
  grid-template-areas: "form selected" "books books";
  grid-template-columns: 1fr 2fr;
  width: 92vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section4 .section4-container {
    grid-template-areas: "form" "books" "selected";
    grid-template-columns: 1fr;
  }
}
.section4 .section4-container .form-container {
  grid-area: form;
  width: 100%;
}
.section4 .section4-container .form-container h3 {
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.33s ease-in-out;
  transition-delay: 0.5s;
  margin-bottom: 1.5rem;
}
.section4 .section4-container .form-container h3.show {
  opacity: 1;
  bottom: 0px;
}
.section4 .section4-container .form-container form {
  height: fit-content;
}
.section4 .section4-container .form-container form .form-input {
  display: flex;
  flex-direction: column;
}
.section4 .section4-container .selected {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  text-transform: uppercase;
  grid-area: selected;
}
@media (max-width: 768px) {
  .section4 .section4-container .selected {
    padding: 0;
  }
}
.section4 .section4-container .selected .recommend {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.section4 .section4-container .selected h3 {
  margin-right: 1rem;
}
.section4 .section4-container .selected button {
  width: 150px;
  height: 100%;
  padding: 0.3rem;
  color: black;
  text-transform: uppercase;
  margin-left: auto;
  background-color: antiquewhite;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  letter-spacing: 4px;
  border-color: transparent;
  font-weight: 500;
}
.section4 .section4-container .selected button:hover {
  top: 0;
  border-color: #debfbf;
}
.section4 .section4-container .selected .selection {
  padding: 0.3rem;
  background-color: #c9c6fe;
  height: 100px;
  overflow-y: scroll;
  color: #3b3b3b;
}
.section4 .section4-container .selected ul {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
}
.section4 .section4-container .selected li.selection-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.section4 .section4-container .book-cards {
  grid-area: books;
  color: black;
  grid-area: books;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  height: fit-content;
  column-gap: 1rem;
}
.section4 .section4-container .book-cards::-webkit-scrollbar {
  background-color: transparent;
}
.section4 .section4-container .book-cards .book-card {
  position: relative;
  background-color: rgba(233, 233, 233, 0.75);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  min-width: 170px;
  max-width: 200px;
  height: 300px;
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  transition: 100ms ease-in-out;
}
.section4 .section4-container .book-cards .book-card > .container {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4-container .book-cards .book-card > .container .img-container {
  display: flex;
  justify-content: center;
  height: 55%;
  width: 100%;
  margin-bottom: 1rem;
}
.section4 .section4-container .book-cards .book-card > .container .img-container img {
  object-fit: cover;
}
.section4 .section4-container .book-cards .book-card > .container .text-container {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 0.85rem;
}
.section4 .section4-container .book-cards .book-card > .container .text-container .text-title {
  text-align: center;
}
.section4 .section4-container .book-cards .book-card > .container .text-container .text-author {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.3rem;
  color: #1b1b1b;
}
.section4 .section4-container .book-cards .book-card.selected {
  transform: scale(0.9);
  background-color: antiquewhite;
}
.section4 .section4-container .book-cards .book-card-skeleton {
  position: relative;
  background-color: rgba(233, 233, 233, 0.75);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 12px;
  min-width: 170px;
  max-width: 220px;
  height: 300px;
  align-items: center;
}
.section4 .section4-container .book-cards .book-card-skeleton .skeleton-img,
.section4 .section4-container .book-cards .book-card-skeleton .skeleton-text {
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  background-color: #cccccc;
}
.section4 .section4-container .book-cards .book-card-skeleton .skeleton-img {
  margin: 1rem auto 0;
  width: 80%;
  height: 55%;
}
.section4 .section4-container .book-cards .book-card-skeleton .skeleton-text {
  width: 80%;
  margin: 0 auto;
  height: 1.5rem;
}
.section4 .section4-container .book-cards .book-card-skeleton .skeleton-text.author {
  height: 1rem;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}
