@import '../variables.module.scss';
@import '../mixins.scss';

.container {
    @include container;
}

.title,
.subtitle {
    font-size: 3rem;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 4px;
    color: $h2HeaderColor;
}

.text {
    max-width: 500px;
    margin: 0 auto;
    word-wrap: break-all;
}

.paragraphDark {
    @include paragraph($paragraphColorDark)
}

.paragraphLight {
    @include paragraph($paragraphColorLight)
}

.cursiveColorDark {
    color: $cursiveColorDark;
}

.cursiveColorLight {
    color: $cursiveColorLight
}
