.branchLeft {
  position: relative;
  left: 6px;
  transform: scaleX(-1) translateX(50%);
}
.gitBranch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #111111;
}
.logo {
  height: 40px;
  width: 40px;
}
.commit {
  font-size: 14px;
  font-weight: 700;
  margin-right: 6px;
}
.commitMessage {
  font-size: 16px;
  margin-left: 2px;
}
