@import '../variables.module.scss';
@import '../mixins.scss';

.modalsContainer {
  display: flex !important;
}
.textContainer {
  display: flex;
  flex-direction: column;
}
.contentContainer {
  display: grid;
  grid-template-columns: 420px 420px;
  justify-items: center;
  grid-template-rows: auto;
  gap: 1rem;
  @media (max-width: 900px) {
    grid-template-columns: 390px;
  }
}
