@import '../variables.module.scss';
@import '../mixins.scss';

.container {
    @include container;
}

.canvasContainer {
    position: fixed;
    top: $NavHeight;
    left: 0;
    height: 100%;
    width: 100%;
}