@import '../variables.module.scss';
@import '../mixins.scss';

.modalsContainer {
  display: flex !important;
}
.textContainer {
  display: flex;
  flex-direction: column;
}
.contentContainer {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: auto;
  gap: 1rem;
}
