@import "../variables.module.scss";

.layoutContainer {
  width: 70%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
  display: flex;
  z-index: 3;
  flex-direction: column;
  @include belowViewport(768px) {
    width: 90%;
  }

  @include belowViewport(425px) {
    width: 95%;
  }

  margin: 0 auto;
  height: $layoutContainerHeight;
}

.pageContent {
  position: relative;
  width: 100%;
  height: 100%;
}
