div.navbar-container {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    transition: all 0.4s ease;
    > nav.navbar {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        transition: all 0.4s ease;
        &.scrolled {
            background-color: rgba(15, 15, 15, 0.9);
            ul a li {
                color: $section2Title;
            }
        }
        > ul.navbar-list {
            font-size: 1.2rem;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-evenly;
            a {
                color: $grey;
                text-decoration: none;
                @include desktop() {
                    font-size: 1.35rem;
                }
            }
        }
        @include laptop() {
            display: none;
        }
    }
    > nav.navbar-small {
        margin: 20px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        button.menu-button {
            z-index: 333;
            cursor: pointer;
            border: none;
            background: transparent;
            font-size: 1.25rem;
            color: $grey;
            &.red {
                color: black;
            }
            .menu-button-icon {
                width: 30px;
                height: 30px;
            }
        }
        @include desktop() {
            display: none;
        }
        @include laptop() {
            justify-content: flex-end;
        }
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 150%;
    background-color: rgba(182, 182, 182, 0.8);
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: left 0.75s ease;
    .menu {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        row-gap: 40px;
        width: 100%;
        height: 100%;
        list-style: none;
        a {
            text-decoration: none;
            color: black;
        }
        li {
            padding: 1rem;
            padding-left: 25px;
            font-size: 1.5rem;
        }
    }
    &.show {
        left: 60%;
    }
}
