div.navbar-container {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    > nav.navbar {
        width: 100%;
        height: 100%;
        > ul.navbar-list {
            font-size: 1.2rem;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-evenly;
            a {
                color: $grey;
                text-decoration: none;
            }
        }
        @include laptop(){
            display: none;
        }
    }
    > nav.navbar-small {
        margin: 20px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        button.menu-button {
            z-index: 333;
            cursor: pointer;
            border: none;
            background: transparent;
            font-size: 1.25rem;
            color: $grey;
            &.red {
                color: black;
            }
            .menu-button-icon {
                width: 30px;
                height: 30px;
            }
        }
        @include desktop(){
            display: none;
        }
        @include laptop(){
            justify-content: flex-end
        }
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 150%;
    background-color: rgba(182, 182, 182, 0.5);
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: left 0.75s ease;
    .menu {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        row-gap: 55px;
        width: 100%;
        height: 100%;
        list-style: none;
        a {
            text-decoration: none;
            color: black;
        }
        li {
            padding-left: 25px;
            font-size: 2rem;
        }
    }
    &.show {
        left: 60%;
    }
}