div.navbar-container {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    > nav.navbar {
        width: 100%;
        height: 100%;
        > ul.navbar-list {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-evenly;
            a {
                color: $grey;
                text-decoration: none;
            }
        }
        @include tablet(){
            display: none;
        }
    }
    > nav.navbar-small {
        margin: 20px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        button {
            border: none;
            background: transparent;
            font-size: 1.25rem;
            text-decoration: none;
            color: $grey;
        }
        @include desktop(){
            display: none;
        }
        @include tablet(){
            justify-content: flex-end
        }
    }
}
.menu-container {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(134, 134, 134, 0.5);
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: left 0.75s ease;
    .menu {
        width: 100%;
        height: 100%;
        list-style: none;
    }
    &.hide {
        left: 60%;
    }
}