section {
    border-top: 1px solid black;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.section1 {
    background-image: url("./pictures/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    @include laptop() {
        background-position: 45%;
    }
    @include mobile() {
        background-position: 55%;
    }
    > div.h1-text-container {
        text-align: center;
        position: absolute;
        background-color: rgba(212, 212, 212, 0.3);
        border-radius: 3px;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
        h1 {
            white-space: nowrap;
            color: rgba(22, 22, 22, 0.781);
            font-size: 3rem;
            padding: 5px 0px;
        }
        @include laptop() {
            h1 {
                font-size: 2.5rem;
            }
        }
        @include tablet() {
            h1 {
                font-size: 2rem;
            }
        }
        @include mobile() {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}
.section2 {
    background-color: #efeff1;
    // BUILD INTERSECTION OBSERVER
    .section2-head {
        padding-top: 7rem;
        width: 95%;
        margin: 0 auto;
        display: flex;
        width: 95%;
        column-gap: 3rem;
        transition: all 0.75s ease-out;
        div * {
            word-break: break-word;
            position: relative;
            transition: all 0.75s ease-out;
            ul {
                padding: 1rem 0 0 1rem;
                list-style: square;
            }
        }
        h2 {
            color: $darkgrey;
            border-bottom: 1px solid $grey;
            margin-bottom: 2rem;
        }
        div.head-proficiencies {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        div.head-like {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        div.head-facts {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .selected {
            flex: 8;
            h2 {
                color: $blue;
                top: -1rem;
            }
        }
    }
}
