@import './variables.module.scss';
@use './googleFonts.module.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 400
}
