@import './variables.module.scss';

.layoutContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include belowViewport(768px) {
        width: 80%;
    }

    ;

    @include belowViewport(425px) {
        width: 90%;
    }

    ;
    margin: 0 auto;
    height: $layoutContainerHeight;
}
.pageContent {
    padding: 1rem;
    width: 100%;
    height: 100%;
}