@import './variables.module.scss';

.layoutContainer {
    width: 60%;

    @include belowViewport(768px) {
        width: 80%;
    }

    ;

    @include belowViewport(425px) {
        width: 90%;
    }

    ;
    margin: 0 auto;
    height: $layoutContainerHeight;
}