@import './variables.module.scss';

@mixin anchorTag {
    padding: $NavLinkPadding;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo {
    @include anchorTag;
    font-size: 1.25rem;
    font-weight: 600
}

.a {
    @include anchorTag;
    text-decoration: underline;
}

.MoonIcon {
    color: $MoonIconColor;
}

.SunIcon {
    color: $SunIconColor
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;

    &:first-child {
        justify-content: flex-start;
    }

    &:nth-child(2) {
        @include belowViewport(768px) {
            display: none
        }
    }

    &:last-child {
        justify-content: flex-end;
    }
}

.menu {
    @include aboveViewport(769px) {
        display: none
    }

    a {
        width: 100%;
    }
}

.menuButton {
    display: flex;
    align-items: center;
    width: 48px;
    height: 40px;
    border-radius: 6px;
}

.menuLogo {
    margin: 0 auto;
}