@import './variables.module.scss';

.container,
.nav {
    width: 100%;
}

.container {
    height: $NavFootHeight;
    padding: $NavFootElementPadding;
    display: flex;
    align-items: center;
}

.nav {
    height: 100%;
}

.a {
    padding: $NavFootElementPadding;
}

.MoonIcon {
    color: $MoonIconColor
}

.SunIcon {
    color: $SunIconColor
}

.box {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    margin-left: 0.5rem;
}