@import './variables.module.scss';

@mixin container {
    backdrop-filter: blur(7.5px);
    padding: 1rem;
    width: 300px;
    height: 180px;
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}
.light {
    @include container;
    background: $containerBackgroundLight;
    box-shadow: $containerShadowLight;
}
.dark {
    @include container;
    background: $containerBackgroundDark;
    box-shadow: $containerShadowDark;
}