@use './googleFonts.module.scss';
@import './mixins';

$backgroundColorDark: #0e1619;
$backgroundColorLight: #f1f1f1;
$fontColorDarkMode: #E0FBFC;
$fontColorLightMode: #212121;
$fontFamily: 'Roboto',
sans-serif;

// Layout
$layoutContainerHeight: 100vh;
$NavFootHeight: 65px;

// Navbar 
$NavLinkPadding: 0 1rem;
// ----- Menu
$menuBackgroundLight: #b5b4b4;
$menuIconColorLight: #000000;
$menuBackgroundDark: #dec1c1;
$menuIconColorDark: #ffffff;


// ICON
$iconBackgroundDark:#9a97c5;
$iconBackgroundLight: #cad035;
$SunIconColor: #000000;
$MoonIconColor: #f1f1f1;


// PROFILE CARD
$clockColorLight: #4c4747;
$profileCardContainerLight: #202020;
$containerBackgroundLight: #1c555193;
$containerShadowLight: 0 8px 32px 0 #0000002e;
$textLight: #ffffff;
// ------------
$clockColorDark: #ffffff;
$profileCardContainerDark: #556458;
$containerBackgroundDark: #6b7c93;
$containerShadowDark: 0 8px 32px 0 #ffffff1f;
$textDark: #ffffff;

// Canvas
$canvasParticlesLight: #362d4a;
$canvasParticlesDark:#feb4f6;

:export {
    backgroundColorDark: $backgroundColorDark;
    backgroundColorLight: $backgroundColorLight;
    fontColorDarkMode: $fontColorDarkMode;
    fontColorLightMode: $fontColorLightMode;
    iconBackgroundDark: $iconBackgroundDark;
    iconBackgroundLight: $iconBackgroundLight;
    sunIconColor: $SunIconColor;
    moonIconColor: $MoonIconColor;
    fontFamily: $fontFamily;
    menuBackgroundLight: $menuBackgroundLight;
    menuIconColorLight: $menuIconColorLight;
    menuBackgroundDark: $menuBackgroundDark;
    menuIconColorDark: $menuIconColorDark;
    canvasParticlesLight: $canvasParticlesLight;
    canvasParticlesDark: $canvasParticlesDark;
    clockColorLight: $clockColorLight;
    clockColorDark: $clockColorDark;
}