@import './mixins';

$backgroundColorDark: #121212;
$backgroundColorLight: #f1f1f1;
$fontColorDarkMode: #E0FBFC;
$fontColorLightMode: #212121;
$fontFamily: 'Roboto',
sans-serif;

// Layout
$layoutContainerHeight: 100vh;
$NavHeight: 65px;

// Navbar 
$NavLinkPadding: 0 1rem 0 0;
// ----- Menu
$menuBackgroundLight: #bdbdbd;
$menuIconColorLight: #000000;
$menuBackgroundDark: #dec1c1;
$menuIconColorDark: #ffffff;


// ICON
$iconBackgroundDark:#38347b;
$iconBackgroundLight: #fbd38d;
$SunIconColor: #000000;
$MoonIconColor: #f1f1f1;


// PROFILE CARD
$clockColorLight: #4c4747;
$profileCardContainerLight: #202020;
$containerBackgroundLight: #0d4925;
$containerShadowLight: 0 8px 32px 0 #0000004d;
$textLight: #ffffff;
// ------------
$clockColorDark: #ffffff;
$profileCardContainerDark: #556458;
$containerBackgroundDark: #2a2b2e;
$containerShadowDark: 0 8px 32px 0 #ffffff09;
$textDark: #ffffff;

// Canvas
$canvasParticlesLight: #0a526a;
$canvasParticlesDark:#feb4f6;

:export {
    backgroundColorDark: $backgroundColorDark;
    backgroundColorLight: $backgroundColorLight;
    fontColorDarkMode: $fontColorDarkMode;
    fontColorLightMode: $fontColorLightMode;
    iconBackgroundDark: $iconBackgroundDark;
    iconBackgroundLight: $iconBackgroundLight;
    sunIconColor: $SunIconColor;
    moonIconColor: $MoonIconColor;
    fontFamily: $fontFamily;
    menuBackgroundDark: $menuBackgroundDark;
    menuBackgroundLight: $menuBackgroundLight;
    menuIconColorLight: $menuIconColorLight;
    menuIconColorDark: $menuIconColorDark;
    canvasParticlesLight: $canvasParticlesLight;
    canvasParticlesDark: $canvasParticlesDark;
    clockColorLight: $clockColorLight;
    clockColorDark: $clockColorDark;
    navHeight: $NavHeight;
}