@import "./mixins";

$backgroundColorDark: #121212;
$backgroundColorLight: #f5f5f5;
$fontColorDarkMode: #e0fbfc;
$fontColorLightMode: #212121;
$fontFamily: "Roboto", sans-serif;

// Layout
$layoutContainerHeight: 100vh;
$NavHeight: 65px;

// Navbar
$NavLinkPadding: 0 1rem 0 0;
// ----- Menu
$menuBackgroundLight: #553f3f;
$menuIconColorLight: #000000;
$menuBackgroundDark: #f7c1c1;
$menuIconColorDark: #ffffff;

// ICON
$iconBackgroundDark: #284061;
$iconBackgroundLight: #fbd38d;
$SunIconColor: #000000;
$MoonIconColor: #f1f1f1;

// PROFILE CARD
$clockColorLight: #4c4747;
$profileCardContainerLight: #202020;
$containerBackgroundLight: #2a2b2ea3;
$containerShadowLight: 4px 4px 12px 2px #1f1f1f2a;
$textLight: #ffffff;
// ------------
$clockColorDark: #ffffff;
$profileCardContainerDark: #556458;
$containerBackgroundDark: #2a2b2e;
$containerShadowDark: 4px 4px 12px 2px #ffffff09;
$textDark: #ffffff;

// Canvas
$canvasParticlesLight: #0a526a;
$canvasParticlesDark: #feb4f6;

// ABOUT
$h2HeaderColor: #dc143c;
$paragraphColorLight: #252525;
$cursiveColorLight: #919aab;
$paragraphColorDark: #cfcfcf;
$cursiveColorDark: #eaeac7;

:export {
  backgroundColorDark: $backgroundColorDark;
  backgroundColorLight: $backgroundColorLight;
  fontColorDarkMode: $fontColorDarkMode;
  fontColorLightMode: $fontColorLightMode;
  iconBackgroundDark: $iconBackgroundDark;
  iconBackgroundLight: $iconBackgroundLight;
  sunIconColor: $SunIconColor;
  moonIconColor: $MoonIconColor;
  fontFamily: $fontFamily;
  menuBackgroundDark: $menuBackgroundDark;
  menuBackgroundLight: $menuBackgroundLight;
  menuIconColorLight: $menuIconColorLight;
  menuIconColorDark: $menuIconColorDark;
  canvasParticlesLight: $canvasParticlesLight;
  canvasParticlesDark: $canvasParticlesDark;
  clockColorLight: $clockColorLight;
  clockColorDark: $clockColorDark;
  navHeight: $NavHeight;
}
